.addEquation {
  border-top: 1px solid var(--separator);
  position: relative;
}
.addEquationLabel {
  display: flex;
  padding: 20px;
  cursor: pointer;
}
.addEquation:hover,
.addEquation:focus-within {
  background-color: var(--button-big-hover);
}
.addEquationWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  padding: 20px;
}
.addEquationDialog {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog);
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.addType {
  display: block;
  padding: 15px 20px;
  text-align: left;
}
.addType:hover {
  background-color: var(--button-hover);
}
.addType:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.addType:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.addType .icon {
  margin-right: 10px;
}

/* https://a11yproject.com/posts/how-to-hide-content/ */
.addEquation:not(:hover) .addEquationWrapper:not(:focus-within) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@media (max-width: 600px) {
  .add-equation-label {
    padding: 10px 20px;
  }
  .add-equation-wrapper {
    padding: 0;
  }
  .add-equation-dialog {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
