.wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--separator);
  background-color: var(--equation-background);
  width: 300px;
}

.logoSpace {
  height: 56px;
  border-bottom: 1px solid var(--separator);
}

.equations {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: auto;
  overflow: auto;
  height: 0;
}

.addEquationLineBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.addEquationLineBtn:hover {
  background-color: var(--button-big-hover);
}

@media (max-width: 600px) {
  .wrapper {
    height: 50%;
    width: auto;
    border-top: 1px solid var(--separator);
  }

  .logoSpace {
    display: none;
  }
}
