html,
body {
  height: 100%;
}
body {
  margin: 0;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
}

button:not(:disabled):hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

:disabled {
  opacity: 0.5;
}
