/* https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro&sidebar.open */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --background: black;
  --text: white;
  --theme: #a229e0;
}
/* Are colours copyrighted?
https://cdn.dribbble.com/users/1486402/screenshots/4129144/daily_ui_3_thumbnail.png */
.dark {
  --background: #13141D;
  --equation-background: #101017;
  --graph-background: #13141D;
  --tabs-background: #0c0d10;
  --text: rgba(255, 255, 255, 0.8);
  --separator: rgba(255, 255, 255, 0.1);
  --selected: rgba(255, 255, 255, 0.05);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Source Sans Pro', sans-serif;
}

.icon {
  display: inline-block;
  font-size: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.main-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: auto;
  display: flex;
}

.equations-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--separator);
  background-color: var(--equation-background);
}

.logo-wrapper {
  display: flex;
  padding: 10px;
}
.logo {
  height: 36px;
}

.equations {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: auto;
  overflow: hidden;
  height: 0;
}

.preview {
  display: flex;
}
.colour-strip {
  width: 5px;
  background-color: red;
}

.grapheme-wrapper {
  flex: auto;
  position: relative;
  background-color: var(--graph-background);
}
.settings-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.tabs {
  background-color: var(--tabs-background);
  border-top: 1px solid var(--separator);
}
.tab {
  padding: 5px 15px;
  border-top: 5px solid transparent;
}
.active {
  border-top-color: var(--theme);
  background-color: var(--selected);
}
