/* https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro&sidebar.open */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --background: black;
  --text: white;
  --theme: #a229e0;
}
/* Are colours copyrighted?
https://cdn.dribbble.com/users/1486402/screenshots/4129144/daily_ui_3_thumbnail.png */
.dark {
  --background: #13141D;
  --equation-background: #101017;
  --graph-background: #13141D;
  --tabs-background: #0c0d10;
  --dialog: #3C3F59;
  --text: rgba(255, 255, 255, 0.8);
  --text-opaque: white;
  --text-opacity: 0.8;
  --label: rgba(255, 255, 255, 0.5);
  --separator: rgba(255, 255, 255, 0.1);
  --selected: rgba(255, 255, 255, 0.05);
  --selected-outline: white;
  --button-hover: rgba(255, 255, 255, 0.1);
  --button-big-hover: rgba(255, 255, 255, 0.05);
  --raised-button: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.1);
  --danger: rgb(221, 68, 101);
  --danger-hover: rgba(221, 68, 101, 0.1);
  --danger-outline: rgba(221, 68, 101, 0.2);
  --shade: rgba(0, 0, 0, 0.8);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
}

/* HACK: This is really hard and annoying to explain, but the MathML thing gets
/* position absoluted and sent to the bottom of the scrolling equations element,
/* and this for some reason extends so far as to make the page able to scroll
/* up/down, despite that it's supposed to be cut off by the overflow: auto in
/* the scrolling equations element. Anyways, this worked, so yay? However, it's
/* position absoluted to be visually hidden while still accessible to screen
/* readers. I'm not sure if doing position fixed breaks anything. */
.katex .katex-mathml {
  position: fixed;
}

.icon {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  fill: currentColor;
}
.custom-icon {
  width: 16px;
  height: 16px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.icon-btn {
  padding: 10px;
  border-radius: 50%;
  font-size: 0;
}
.icon-btn:hover {
  background-color: var(--button-hover);
}

.flex {
  flex: auto;
}

/* https://a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus),
.add-equation:not(:hover) .add-equation-wrapper:not(:focus-within) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.darken-screen {
  display: none;
}
.menu-showing .darken-screen {
  display: block;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shade);
}

.main-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
}

.main {
  flex: auto;
  display: flex;
}

.equations-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--separator);
  background-color: var(--equation-background);
  width: 300px;
}

.logo-space {
  height: 56px;
  border-bottom: 1px solid var(--separator);
}

.equations {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: auto;
  overflow: auto;
  height: 0;
}

.equation {
  border-bottom: 1px solid var(--separator);
  overflow: hidden;
}

.preview {
  display: flex;
  transition: transform .2s;
}
.show-quick-actions {
  transform: translateX(118px);
}

.quick-actions-wrapper {
  position: relative;
}
.quick-actions {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  z-index: 5;
  padding: 0 5px;
}
.quick-action {
  margin: 0 5px;
}
.quick-action:hover {
  background-color: var(--button-hover);
}
.quick-action.danger {
  color: var(--danger);
}
.quick-action.danger:hover {
  background-color: var(--danger-hover);
}
.quick-active:not(:hover) {
  background-color: currentColor;
}
.quick-active:not(:hover) .icon {
  color: var(--equation-background);
}
.quick-action .octicon {
  width: 24px;
  height: 24px;
}

.colour-strip {
  width: 3px;
  background-color: var(--colour);
  flex: none;
  cursor: pointer;
}

.katex-preview {
  color: var(--text-opaque);
  opacity: var(--text-opacity);
  padding: 10px;
  flex: auto;
  text-align: left;
  overflow-y: auto;
}

.info {
  position: relative;
  padding: 10px 0;
}
.raw-equation-wrapper {
  padding: 0 10px;
}
.raw-equation {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  resize: vertical;
  background-color: var(--input);
  border-radius: 5px;
}
.info-select {
  margin: 10px 5px;
}
.select-label {
  color: var(--label);
  margin: 0 5px;
}
.select-group {
  display: flex;
}
.select-option {
  flex: 1 0 0;
  background-color: var(--raised-button);
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--separator);
  margin: 5px;
}
.select-option:hover {
  background-image: linear-gradient(var(--button-hover), var(--button-hover));
}
.selected {
  border-color: var(--selected-outline);
}
.plot-colour {
  font-size: 0;
  height: 16px;
  box-sizing: content-box;
  background-color: var(--value);
}
.plot-colour-light:not(.selected) {
  border-color: rgba(0, 0, 0, 0.1);
}
.plot-colour-light:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.plot-colour-dark:not(.selected) {
  border-color: rgba(255, 255, 255, 0.1);
}
.plot-colour-dark:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  margin-top: -10px;
}
.action {
  display: flex;
  align-items: center;
  margin: 0 5px;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid var(--separator);
  border-radius: 2px;
}
.action .icon {
  margin-right: 5px;
}
.action:hover {
  background-color: var(--button-hover);
}
.action.danger {
  color: var(--danger);
  border-color: var(--danger-outline);
}
.action.danger:hover {
  background-color: var(--danger-hover);
}
.close-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

.add-equation-line {
  /* border-bottom: 1px solid var(--separator); */
}
.add-equation-line-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.add-equation-line-btn:hover {
  background-color: var(--button-big-hover);
}

.add-equation {
  border-top: 1px solid var(--separator);
  position: relative;
}
.add-equation-label {
  display: flex;
  padding: 20px;
  cursor: pointer;
}
.add-equation:hover,
.add-equation:focus-within {
  background-color: var(--button-big-hover);
}
.add-equation-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  padding: 20px;
}
.add-equation-dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.add-type {
  display: block;
  padding: 15px 20px;
  text-align: left;
}
.add-type:hover {
  background-color: var(--button-hover);
}
.add-type .icon {
  margin-right: 10px;
}

.grapheme-wrapper {
  flex: auto;
  position: relative;
  background-color: var(--graph-background);
}
.grapheme-window {
  position: absolute;
}
.settings-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 10px;
}

.logo-wrapper {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.menu-btn {
  margin: 10px;
}
.menu-showing .menu-btn {
  display: none;
}
.close-menu-btn {
  display: none;
}
.menu-showing .close-menu-btn {
  display: inline-block;
  margin: 10px;
}
.logo {
  height: 48px;
  margin: 0 10px;
}

.menu {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  z-index: 15;
  background-color: var(--dialog);
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  border-radius: 10px;
}
.menu-showing .menu {
  display: flex;
}

.tabs {
  display: flex;
  background-color: var(--tabs-background);
  border-top: 1px solid var(--separator);
}
.tab {
  padding: 10px 20px;
  border-right: 1px solid var(--separator);
  position: relative;
  padding-top: 13px;
}
.add-tab {
  padding: 0 10px;
}
.tab:not(.active):hover,
.add-tab:hover {
  background-color: var(--button-hover);
}
.active {
  background-color: var(--selected);
}
.active::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  position: absolute;
  background-color: var(--theme);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
  }

  .equations-wrapper {
    height: 50%;
    width: auto;
    border-top: 1px solid var(--separator);
  }

  .logo-space {
    display: none;
  }

  .add-equation-label {
    padding: 10px 20px;
  }
  .add-equation-wrapper {
    padding: 0;
  }
  .add-equation-dialog {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .menu-showing .mobile-menu-wrapper {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-showing .logo-wrapper {
    position: static;
    display: flex;
    align-items: center;
  }
  .menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }
  .close-menu-btn {
    margin: 10px;
  }
  .logo {
    display: none;
  }
  .menu-showing .logo {
    display: inline-block;
  }

  .tabs {
    display: none;
  }
  .menu-showing .tabs {
    display: flex;
  }

  .tabs {
    border-top: none;
  }

  .menu {
    flex: auto;
    position: static;
    background: none;
    margin: 0;
  }
}
