/* https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro&sidebar.open */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --background: black;
  --text: white;
  --theme: #a229e0;
}
/* Are colours copyrighted?
https://cdn.dribbble.com/users/1486402/screenshots/4129144/daily_ui_3_thumbnail.png */
.dark {
  --background: #13141D;
  --equation-background: #101017;
  --graph-background: #13141D;
  --tabs-background: #0c0d10;
  --dialog: #3C3F59;
  --text: rgba(255, 255, 255, 0.8);
  --text-opaque: white;
  --text-opacity: 0.8;
  --label: rgba(255, 255, 255, 0.5);
  --separator: rgba(255, 255, 255, 0.1);
  --selected: rgba(255, 255, 255, 0.05);
  --selected-outline: white;
  --button-hover: rgba(255, 255, 255, 0.1);
  --button-big-hover: rgba(255, 255, 255, 0.05);
  --raised-button: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.1);
  --danger: #e82f6d;
  --danger-hover: rgba(232, 47, 109, 0.1);
  --danger-outline: rgba(232, 47, 109, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
}

.icon {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  fill: currentColor;
}
.custom-icon {
  width: 16px;
  height: 16px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.icon-btn {
  padding: 10px;
  border-radius: 50%;
  font-size: 0;
}
.icon-btn:hover {
  background-color: var(--button-hover);
}

.flex {
  flex: auto;
}

/* https://a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus),
.add-equation:not(:hover) .add-equation-wrapper:not(:focus-within) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.main-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
}

.main {
  flex: auto;
  display: flex;
}

.equations-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--separator);
  background-color: var(--equation-background);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--separator);
}
.logo {
  height: 24px;
  margin-left: 10px;
}

.equations {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: auto;
  overflow: auto;
  height: 0;
}

.equation {
  border-bottom: 1px solid var(--separator);
}

.preview {
  display: flex;
}
.colour-strip {
  width: 3px;
  background-color: var(--colour);
}
.katex-preview {
  color: var(--text-opaque);
  opacity: var(--text-opacity);
  padding: 10px;
}

.info {
  position: relative;
  padding: 10px 0;
}
.raw-equation-wrapper {
  padding: 0 10px;
}
.raw-equation {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  resize: vertical;
  background-color: var(--input);
  border-radius: 5px;
}
.info-select {
  margin: 10px 5px;
}
.select-label {
  color: var(--label);
  margin: 0 5px;
}
.select-group {
  display: flex;
}
.select-option {
  flex: 1 0 0;
  background-color: var(--raised-button);
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--separator);
  margin: 5px;
}
.select-option:hover {
  background-image: linear-gradient(var(--button-hover), var(--button-hover));
}
.selected {
  border-color: var(--selected-outline);
}
.plot-colour {
  font-size: 0;
  background-color: var(--value);
}
.plot-colour-light:not(.selected) {
  border-color: rgba(0, 0, 0, 0.1);
}
.plot-colour-light:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.plot-colour-dark:not(.selected) {
  border-color: rgba(255, 255, 255, 0.1);
}
.plot-colour-dark:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.actions {
  display: flex;
  margin: 0 5px;
}
.action {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid var(--separator);
  border-radius: 2px;
}
.action .icon {
  margin-right: 5px;
}
.action:hover {
  background-color: var(--button-hover);
}
.danger {
  color: var(--danger);
  border-color: var(--danger-outline);
}
.danger:hover {
  background-color: var(--danger-hover);
}
.close-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

.add-equation-line {
  /* border-bottom: 1px solid var(--separator); */
}
.add-equation-line-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.add-equation-line-btn:hover {
  background-color: var(--button-big-hover);
}

.add-equation {
  border-top: 1px solid var(--separator);
  position: relative;
}
.add-equation-label {
  display: flex;
  padding: 20px;
  cursor: pointer;
}
.add-equation:hover,
.add-equation:focus-within {
  background-color: var(--button-big-hover);
}
.add-equation-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  padding: 20px;
}
.add-equation-dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.add-type {
  display: block;
  padding: 15px 20px;
  text-align: left;
}
.add-type:hover {
  background-color: var(--button-hover);
}
.add-type .icon {
  margin-right: 10px;
}

.grapheme-wrapper {
  flex: auto;
  position: relative;
  background-color: var(--graph-background);
  overflow: hidden;
}
.grapheme-window {
  position: absolute;
}
.settings-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 10px;
}

.tabs {
  display: flex;
  background-color: var(--tabs-background);
  border-top: 1px solid var(--separator);
}
.tab {
  display: flex;
  border-right: 1px solid var(--separator);
}
.tab-button {
  border-top: 3px solid transparent;
  padding: 10px 20px;
  padding-right: 5px;
}
.tab-close-btn {
  border-top: 3px solid transparent;
  padding-right: 15px;
}
.tab-close-btn:hover {
  color: var(--danger);
}
.tab:not(.active):hover,
.add-tab:hover {
  background-color: var(--button-hover);
}
.active {
  background-color: var(--selected);
}
.active .tab-button,
.active .tab-close-btn {
  border-top-color: var(--theme);
}
.add-tab {
  padding: 0 10px;
  padding-top: 3px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
  }

  .equations-wrapper {
    height: 50%;
    border-top: 1px solid var(--separator);
  }

  .logo-wrapper {
    position: fixed;
    top: 100%;
    z-index: 5;
  }
  .menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .add-equation-label {
    padding: 10px 20px;
  }
  .add-equation-wrapper {
    padding: 0;
  }
  .add-equation-dialog {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tabs {
    display: none;
  }
}
