.equation {
  border-bottom: 1px solid var(--separator);
  overflow: hidden;
}

.preview {
  display: flex;
  transition: transform 0.2s;
  min-height: 44px;
}
.showQuickActions {
  transform: translateX(118px);
}

.colorStrip {
  width: 3px;
  background-color: var(--color);
  flex: none;
  cursor: pointer;
}
.katexPreview {
  color: var(--text-opaque);
  opacity: var(--text-opacity);
  padding: 10px;
  flex: auto;
  text-align: left;
  overflow-y: auto;
}
.hidden .colorStrip,
.hidden .katexPreview {
  opacity: 0.3;
}
