.quickActions {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  z-index: 5;
  padding: 5px;
}
.quickAction {
  padding: 5px;
  transition: opacity 0.2s, color 0.2s;
}
.quickAction:hover {
  background-color: var(--button-hover);
}
.showingInfo .removeBtn,
.removeBtn:hover {
  color: var(--danger);
}
.removeBtn:hover {
  background-color: var(--danger-hover);
}
.visibilityBtn {
  opacity: 0;
}
.showingInfo .visibilityBtn,
.visibilityBtn:hover,
.visibilityBtn:focus {
  opacity: 1;
}
