/* Are colours copyrighted?
https://cdn.dribbble.com/users/1486402/screenshots/4129144/daily_ui_3_thumbnail.png */
.template {
  --background: unset;
  --equation-background: unset;
  --graph-background: unset;
  --tabs-background: unset;
  --dialog: unset;
  --text: unset;
  --text-opaque: unset;
  --text-opacity: unset;
  --text-hover: unset;
  --label: unset;
  --separator: unset;
  --selected: unset;
  --selected-outline: unset;
  --button-hover: unset;
  --button-big-hover: unset;
  --raised-button: unset;
  --input: unset;
  --danger: unset;
  --danger-hover: unset;
  --danger-outline: unset;
  --shade: unset;

  --blue: unset;
  --red: unset;
  --black: unset;
  --magenta: unset;
  --green: unset;
  --orange: unset;
  --brown: unset;
  --navy: unset;
  --light-blue: unset;
  --yellow: unset;
}
.dark {
  --background: #13141D;
  --equation-background: #101017;
  --graph-background: #13141D;
  --tabs-background: #0c0d10;
  --dialog: #3C3F59;
  --text: rgba(255, 255, 255, 0.8);
  --text-opaque: white;
  --text-opacity: 0.8;
  --text-hover: white;
  --label: rgba(255, 255, 255, 0.5);
  --separator: rgba(255, 255, 255, 0.1);
  --selected: rgba(255, 255, 255, 0.05);
  --selected-outline: white;
  --button-hover: rgba(255, 255, 255, 0.1);
  --button-big-hover: rgba(255, 255, 255, 0.05);
  --raised-button: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.1);
  --danger: rgb(221, 68, 101);
  --danger-hover: rgba(221, 68, 101, 0.1);
  --danger-outline: rgba(221, 68, 101, 0.2);
  --shade: rgba(0, 0, 0, 0.8);

  --blue: rgb(85, 136, 204);
  --red: rgb(221, 68, 101);
  --black: rgb(187, 187, 204);
  --magenta: rgb(170, 102, 170);
  --green: rgb(0, 170, 85);
  --orange: rgb(238, 119, 51);
  --brown: rgb(187, 85, 34);
  --navy: rgb(119, 136, 204);
  --light-blue: rgb(34, 187, 204);
  --yellow: rgb(238, 187, 17);
}
.paper {
  --background: white;
  --equation-background: white;
  --graph-background: white;
  --tabs-background: #F2F2F2;
  --dialog: white;
  --text: rgba(0, 0, 0, 0.8);
  --text-opaque: black;
  --text-opacity: 0.8;
  --text-hover: black;
  --label: rgba(0, 0, 0, 0.6);
  --separator: rgba(0, 0, 0, 0.075);
  --selected: rgba(0, 0, 0, 0.05);
  --selected-outline: black;
  --button-hover: rgba(0, 0, 0, 0.075);
  --button-big-hover: rgba(0, 0, 0, 0.05);
  --raised-button: rgba(0, 0, 0, 0.02);
  --input: rgba(0, 0, 0, 0.05);
  --danger: rgb(212, 10, 71);
  --danger-hover: rgba(212, 10, 71, 0.1);
  --danger-outline: rgba(212, 10, 71, 0.5);
  --shade: rgba(255, 255, 255, 0.8);

  /* TEMP */
  --blue: blue;
  --red: red;
  --black: black;
  --magenta: magenta;
  --green: green;
  --orange: orange;
  --brown: brown;
  --navy: navy;
  --light-blue: lightblue;
  --yellow: yellow;
}

.color-blue { --color: var(--blue); }
.color-red { --color: var(--red); }
.color-black { --color: var(--black); }
.color-magenta { --color: var(--magenta); }
.color-green { --color: var(--green); }
.color-orange { --color: var(--orange); }
.color-brown { --color: var(--brown); }
.color-navy { --color: var(--navy); }
.color-lightBlue { --color: var(--light-blue); }
.color-yellow { --color: var(--yellow); }
