/* https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro&sidebar.open */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('./themes.css');

:root {
  --theme: #a229e0;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  flex: auto;
  display: flex;
  flex-direction: column;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
}

button:not(:disabled):hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

:disabled {
  opacity: 0.5;
}
